<div class="row" *ngIf="user">
    <div class="col-md-6 offset-md-3">
        <form>
            <div>
                    <div *ngIf="user.userId; then content; else other_content"></div>

                    <ng-template #content><h3>Alterar Usuário: <small>{{ user.userName }}</small></h3></ng-template>
                    <ng-template #other_content><h3>Criar Usuário</h3></ng-template>
                
            </div>
            <div class="form-group">
                <label for="userLoginEmail">Email</label>
                <input type="email" [(ngModel)]="user.loginEmail" name="userLoginEmail" id="userLoginEmail" placeholder="Email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="userUserName">Nome</label>
                <input  [(ngModel)]="user.userName" name="userUserName" id="userUserName" placeholder="Nome" class="form-control" required>
            </div>
            <div class="form-group" *ngIf="!user.userId">
                <label for="userPassword">Senha</label>
                <input type="password" [(ngModel)]="user.password" name="userPassword" id="userPassword" placeholder="Senha" class="form-control" required>
            </div>
            
            <div class="text-right">
                <button md-button (click)="goBack()" class="btn btn-danger"> Cancelar </button>
                <button md-button (click)="createUserClick()" class="btn btn-primary"> Salvar </button>
            </div>
            <div class="alert alert-danger" *ngIf="createUserSuccess === false">
                <strong>Erro! </strong>Ocorreu um erro ao tentar gravar o usuário
            </div>
            <div class="alert alert-success" *ngIf="createUserSuccess === true">
                <strong>Sucesso! </strong>Usuário gravado com sucesso
            </div>
        </form>
    </div>
</div>