<div class="row" *ngIf="account">
    <div class="col-md-6 offset-md-3">
        <form>
            <div>
                    <div *ngIf="account.accountId > 0;then content else other_content"></div>

                    <ng-template #content><h3>Alterar Conta: <small>{{ account.accountDescription }}</small></h3></ng-template>
                    <ng-template #other_content><h3>Cadastrar nova Conta</h3></ng-template>
                <h3></h3>
            </div>
            <div class="form-group">
                <label for="bankName">Banco</label>
                <input  [(ngModel)]="account.bankName" name="bankName" id="bankName" placeholder="Banco" class="form-control">
            </div>
            <div class="form-group">
                <label for="accountAgency">Agência</label>
                <input  [(ngModel)]="account.accountAgency" name="accountAgency" id="accountAgency" placeholder="Agência" class="form-control">
            </div>
            <div class="form-group">
                <label for="accountNumber">Conta</label>
                <input  [(ngModel)]="account.accountNumber" name="accountNumber" id="accountNumber" placeholder="Conta" class="form-control">
            </div>
            <div class="form-group">
                <label for="accountDescription">Descrição</label>
                <input  [(ngModel)]="account.accountDescription" name="accountDescription" id="accountDescription" placeholder="Descrição" class="form-control">
            </div>
            
            <div class="text-right">
                <button md-button (click)="goBack()" class="btn btn-danger"> Cancelar </button>
                <button md-button (click)="updateAccount()" class="btn btn-primary"> Gravar </button>
            </div>
        </form>
    </div>
</div>