<!--<ul class="nav nav-tabs">
    <li *ngFor="let account of accountList" class="nav-item" [ngClass]="{'active': selectedAccount?.accountId === account.accountId}">
        <a data-toggle="tab" (click)="onAccountClick($event, account)" href="#account-{{account.accountId}}" title="Banco: {{ account.bankName }} - Agência: {{ account.accountAgency }} - Conta: {{ account.accountNumber }} - Saldo: {{ account.balanceValue || 0 | currency : 'R$ ' }}
        " >{{ account.accountDescription }}
        </a>        
    </li>
</ul>
      
<div class="tab-content">

    <div id="account-{{selectedAccount?.accountId}}" class="tab-pane fade in active">
        <h3>{{selectedAccount?.accountDescription}}</h3>
        <span><strong>Banco: </strong>{{ selectedAccount?.bankName }}</span>
        <span><strong>Agência: </strong>{{ selectedAccount?.accountAgency }}</span>
        <span><strong>Conta: </strong>{{ selectedAccount?.accountNumber }}</span>
        <span><strong>Saldo: </strong>{{ selectedAccount?.balanceValue || 0 | currency : "R$ " }}</span>
        <span><strong>AccountId: </strong>{{ selectedAccount?.accountId }}</span>

        <app-transaction [accountId]="selectedAccount?.accountId"></app-transaction>
    </div>
</div>
-->
<div class="row">
    <div class="col-md-12">
        <tabset>
            <tab *ngFor="let account of this.financeService.AccountList | async; let i = index" (select)="onAccountClick($event, account)">
                
                <ng-template tabHeading>
                    <span title="Banco: {{ account?.bankName }} - Agência: {{ account?.accountAgency }} - Conta: {{ account?.accountNumber }} - Saldo: {{ account?.balanceValue || 0 | currency : 'R$ ' }}
                    ">{{ account.accountDescription }}</span>
                </ng-template>
                <div *ngIf="selectedAccount === null ? i === 0 : account?.accountId === selectedAccount?.accountId" id="account-{{account?.accountId}}">
                    <div class="row">    
                        <div class="col-md-3">
                            <span><strong>Banco : </strong>{{ account?.bankName }}</span>
                        </div>
                        <div class="col-md-3">
                            <span><strong>Agência: </strong>{{ account?.accountAgency }}</span>
                        </div>
                        <div class="col-md-3">
                            <span><strong>Conta: </strong>{{ account?.accountNumber }}</span>
                        </div>
                        <div class="col-md-3">
                            <span><strong>Saldo: </strong>{{ account?.balanceValue || 0 | currency : "R$ " }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-transaction [accountId]="account?.accountId"></app-transaction>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>