@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Finance Application</h1>
    <p class="lead">Seja bem vindo a aplicação financeira. Nela você poderá cadastrar contas e lançar transações.</p>
    <p>Estamos em contrução da aplicação, e só é possível utilizar a aplicação através de métodos Web.Api</p>
    <p>No arquivo README.md</p>
</div>
