<div *ngIf="editOrAdd; then addEditForm else listtransactions"></div>
<ng-template #listtransactions>
    <table class="table table-striped table-hover table-bordered table-condensed">
        <thead>
            <tr>
                <th class="text-center">Data</th>
                <th class="text-center">Descrição</th>
                <th class="text-center">Valor</th>
                <th class="text-right">
                    <button type="button" class="btn btn-primary btn-sm" (click)="onTransactionAdd($event)">Adicionar</button>
                </th>
            </tr>
        </thead>
        <tbody>        
            <tr *ngFor="let transaction of this.financeService.TransactionList | async">
                <td class="text-right">{{ transaction.transactionDate | date : "dd/MM/yyyy" }}</td>
                <td>{{ transaction.transactionDescription }}</td>
                <td class="text-right">{{ transaction.transactionValue || 0 | currency : "R$ " }}</td>
                <td class="text-right">
                    <button type="button" class="btn btn-warning btnspace btn-sm" (click)="onTransactionEdit($event, transaction)">Editar</button>
                    <button type="button" class="btn btn-danger btnspace btn-sm" (click)="onTransactionRemove($event, transaction)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>
<ng-template #addEditForm>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form>        
                <div class="form-group">
                    <label for="transactionDate">Data</label>
                    <input type="date"  [ngModel]="transactionEdit.transactionDate | date:'yyyy-MM-dd'" (ngModelChange)="transactionEdit.transactionDate = $event" class="form-control text-right" name="transactionDate" id="transactionDate" placeholder="Data da movimentaçao">
                </div>
                <div class="form-group">
                    <label for="transactionValue">Valor</label>
                    <input currencyMask [(ngModel)]="transactionEdit.transactionValue" class="form-control text-right" name="transactionValue" id="transactionValue" placeholder="Valor">
                </div>
                <div class="form-group">
                    <label for="transactionDescription">Descrição</label>
                    <input [(ngModel)]="transactionEdit.transactionDescription" class="form-control" name="transactionDescription" id="transactionDescription" placeholder="Descrição">
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-danger" (click)="onCancelEditOrAdd($event)">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="onConfirmEditOrAdd($event)">Gravar</button>
                </div>        
            </form>
        </div>
    </div>
</ng-template>