<div class="row text-center">
    <div class="col-md-6 offset-md-3">
        <h1>Login to Your Account</h1><br>
        <form>
            <div class="form-group">
                <input type="text" [(ngModel)]="userEmail" name="user" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" [(ngModel)]="userPassword" name="pass" placeholder="Senha">
            </div>
            <input type="submit" (click)="doLogin()" name="login" class="login loginmodal-submit" value="Login">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
    </div>
</div>
<div class="row text-center" ng-style="helpmargin">
    <div class="col-md-6 offset-md-3">
        <a routerLink="/createuser">Cadastre-se</a>
    </div>
</div>