<div class="row text-center">
    <div class="col-md-6 offset-md-3">
        <h1>Dashboard</h1>
        <fusioncharts
            [id]="id"
            [width]="width"
            [height]="height"
            [type]="type"
            [dataFormat]="dataFormat"
            [dataSource]="dataSource"
        ></fusioncharts>
    </div>
</div>