<div class="row">
    <div class="col-md-9">
        <h3>Cadastro de contas</h3>
    </div>
    <div class="col-md-3 text-right">
        <button type="button" class="btn btn-primary" (click)="accountAdd($event)">Adicionar</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Banco</th>
                    <th class="text-center">Agência</th>
                    <th class="text-center">Conta</th>
                    <th class="text-center">Descrição</th>
                    <th class="text-center">Saldo</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>        
                <tr *ngFor="let account of this.financeService.AccountList | async">
                    <td class="text-right">{{ account?.bankName }}</td>
                    <td class="text-right">{{ account?.accountAgency }}</td>
                    <td class="text-right">{{ account?.accountNumber }}</td>
                    <td class="text-right">{{ account?.accountDescription }}</td>
                    <td class="text-right">{{ account?.balanceValue || 0 | currency : "R$ " }}</td>
                    <td class="text-right">
                        <button type="button" class="btn btn-warning btnspace" (click)="accountEdit($event, account)">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>