<span class="navbar-text" *ngIf="user.userName">Olá, {{user.userName}}</span>
<a id="logoutButton" class="navbar-text" *ngIf="user.userName" routerLink="/login" (click)="doLogout()">Sair</a>
<a class="navbar-text" *ngIf="!user.userName" routerLink="/login">Login</a>
<a id="createUserButton" class="navbar-text" *ngIf="!user.userName" routerLink="/createuser">Cadastre-se</a>
