<nav class="navbar navbar-toggleable-md navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive='active'>
                <a class="nav-link" routerLink="/"><img class="logoImage" src="/assets/images/logo.png" /></a>
            </li>
            <li routerLinkActive='active'>
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
            </li>
            <li routerLinkActive='active'>
                <a class="nav-link" routerLink="/transactions">Transações</a>
            </li>
            <li routerLinkActive='active'>
                <a class="nav-link" routerLink="/account">Contas</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>-->
        </ul>
        <app-userinfo></app-userinfo>
    </div>
</nav>
<br />